@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'PuradakGentleGothicR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.1/PuradakGentleGothicR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {font-family: 'Pretendard-Regular';}

.table tbody tr td{
	padding: 5px 5px;
}

.c-bl {
	color: #000;
}

.c-or {
	color: #FF6600;
}


.btn-75 {
	width: 75px;
}

.c-gr{
	color: #bbb;
}

