<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mappers.crewMapper">

<!-- 게시글 -->
	<insert id="insertCrew">
		insert into crew  (crew_num
						 , user_id
						 , act_title
						 , act_category
						 , act_location
						 , crew_subject
						 , crew_content
						 , crew_readcount
						 , crew_date
						 , crew_status
						 ) 
					values (#{crewNum}
						 , #{userId}
						 , #{actTitle}
						 , #{actCategory}
						 , #{actLocation}
						 , #{crewSubject}
						 , #{crewContent}
						 , #{crewReadcount}
						 , #{crewDate}
						 , #{crewStatus}
						 )
	</insert>

	<select id="getMaxNum" resultType="java.lang.Integer">
		select max(crew_num)
		  from crew
	</select>
	
	<select id="getCrewList" resultType="com.itwillbs.domain.CrewDTO">
		SELECT c.crew_num
			 , c.user_id
			 , c.act_title
			 , c.act_category
			 , c.act_location
			 , c.crew_subject
			 , c.crew_content
			 , c.crew_readcount
			 , c.crew_date
			 , c.crew_status
			 , (SELECT count(*) 
		  		  FROM crew_reply r 
				 WHERE r.crew_num = c.crew_num) 
			   AS reply_count
			 , (SELECT sum(cl_check)
			 	  FROM crew_like l
			 	 WHERE l.crew_num = c.crew_num)
			   AS like_count
		  FROM crew c
			<where>
				<if test="actCategory != null">
			    	c.act_category = #{actCategory}
				</if>
			</where>
		 ORDER BY c.crew_status DESC, c.crew_num DESC limit #{startRow}, #{pageSize}
	</select>
	
	<!-- 이전글 -->
	<select id="getCrewPrevNum" resultType="com.itwillbs.domain.CrewDTO">
		SELECT crew_num
			 , crew_subject
  	 	  FROM crew
 		 WHERE crew_num = (SELECT crew_num FROM crew WHERE crew_num <![CDATA[<]]> #{crewNum} ORDER BY crew_num DESC LIMIT 1);
	</select>
	
	<!-- 다음글 -->
	<select id="getCrewLextNum" resultType="com.itwillbs.domain.CrewDTO">
		SELECT crew_num
			 , crew_subject
		  FROM crew
 		 WHERE crew_num = (SELECT crew_num FROM crew WHERE crew_num <![CDATA[>]]> #{crewNum} ORDER BY crew_num LIMIT 1);
	</select>
	
	<select id="getCrewCount" resultType="java.lang.Integer">
		select count(*)
		from crew
	</select>
	
	<select id="getCrew" resultType="com.itwillbs.domain.CrewDTO">
	SELECT CREW_NUM
		 , USER_ID
		 , C.ACT_TITLE
		 , C.ACT_CATEGORY
		 , C.ACT_LOCATION
		 , CREW_SUBJECT
		 , CREW_CONTENT
		 , CREW_READCOUNT
		 , CREW_DATE
		 , CREW_STATUS
		 , (SELECT COUNT(*) 
			  FROM CREW_REPLY R 
			 WHERE R.CREW_NUM = C.CREW_NUM) 
		   AS REPLY_COUNT
		 , (SELECT SUM(CL_CHECK)
			  FROM CREW_LIKE L
			 WHERE L.CREW_NUM = C.CREW_NUM)
		   AS LIKE_COUNT
	     , A.ACT_NUM
	     , A.COMPANY_NAME
  	  FROM CREW C JOIN ACTIVITY A
   	    ON C.ACT_TITLE = A.ACT_TITLE
 	 WHERE CREW_NUM = #{crewNum}
	</select>
	
	<update id="updateReadcount">
		update crew
		   set crew_readcount = crew_readcount+1 
		 where crew_num = #{crewNum}
	</update>

	<update id="updateCrew">
		update crew
		   set crew_subject = #{crewSubject}
		     , act_title = #{actTitle}
		     , act_category = #{actCategory}
		     , act_location = #{actLocation}
			 , crew_content = #{crewContent}
		 where crew_num = #{crewNum}
	</update>
	
	<delete id="deleteCrew">
		delete from crew
		 where crew_num = #{crewNum}
	</delete>
	
	<select id="getLikedCount">
		SELECT count(*)
		  FROM crew_like
		 WHERE crew_num = #{crewNum}
	</select>

	<select id="getActCategoryList" resultType="com.itwillbs.domain.ActivityDTO">
		SELECT DISTINCT ACT_CATEGORY
		  FROM ACTIVITY
		 WHERE ACT_LOCATION LIKE CONCAT('%', #{actLocation}, '%')
	</select>

	<select id="getActList" resultType="com.itwillbs.domain.ActivityDTO">
		SELECT ACT_TITLE
		  FROM ACTIVITY
		 WHERE ACT_LOCATION LIKE CONCAT('%', #{actLocation}, '%')
		   AND ACT_CATEGORY LIKE CONCAT('%', #{actCategory}, '%')
	</select>

	<update id="updateStatus">
		UPDATE CREW
		   SET CREW_STATUS = #{crewStatus}
		 WHERE CREW_NUM = #{crewNum}
	</update>
	


</mapper>